#contactPage{
    margin: 0 auto;
    min-height: calc(100vh-4rem);
    width:60vw;
    max-width: 50rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;

}
.contactPageTitle{
    margin-bottom:1rem;
    font-size: 3rem; 
    text-align: center;
}
.clientDesc{
    font-weight:300;
    font-size:1rem;
    text-align: center;
    margin: 0 auto;
    max-width: 45rem; 
   
}
.clientImgs{
margin:1rem 0;
display: flex;
flex-wrap: wrap;
justify-content:center; 
gap: 0.2rem;
    
}
.clientImg{
    width: 12%;
    min-width:7rem;
    max-width: 12rem;
    margin: 0.25rem;
    border: 1px solid #ffffff;
  
}

#clients{
    padding: 2rem;

}

.contactDesc{
    font-weight:300;
    font-size:1rem;
    text-align: center;
    margin: 0 auto;

}

.contactForm{
    margin:1rem;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:90vw;
    max-width: 60rem;

}

.name, .email, .msg{
 font-size:medium;
 width:100%;
 max-width:40rem;
 margin:0.5rem;
 padding:0.5rem 1rem;
 color:white;
 border:none;
 border-radius:0.5rem;
 background: rgb(40, 40, 40);

}

.submitBtn{
    background:white;
    border:none;
    border-radius: 0.5rem;
    margin:2rem;
    padding:0.75rem 3.5rem;

}

.links{
    display: flex;
    flex-wrap: wrap;
}
.link{
    object-fit:cover;
    height:5rem;
    width:5rem;
  

}